!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  =html_head(:title => 'BusBingo - How to Play')

  %body#how_to_play

    #right-sidebar
      #menu= @menu.render(:legend, :about, :privacy, :play)
      #follow= @follow

    #page-header
      %img#girl(src="/views/images/girl-with-bingo.jpg")
      %h1 How to Play

    #content
      :markdown
        - In order to be entered into a drawing for a $5 coffee card, 
          you must enter your go!pass number. 
          Do this by clicking on the [About Me](/about-me) link.
        - If you don't have a go!pass number, that's ok! 
          You can still play, you just won't be eligible for a coffee card.
        - On a PC, hover your mouse over each square for an explanation.
        - On a smart-phone, go to the [Legend](/legend) page for an explanation of icons.
        - Click on the squares that match your experiences today.
        - Once you have marked 5 squares across, diagonal, or down, you will have Bingo.
        - If you have a go!Pass and have Bingo, 
          you can enter a drawing for a free $5 coffee card
          by [entering your e-mail address and go!Pass number](/about-me) if you haven't already.
        - You can always click on <span class="free">Free</span> squares.
        - Come back to BusBingo at anytime by signing in.
        - You can only win once.
        - To play with paper and pen, click the *Print* link on the [Play!](/play) page
          for a printable view of your bingo card.
          Print and bring it in to [getDowntown](http://getdowntown.org/about/) when you are done or fill it out on your PC.

    =@facebook_sdk
