!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  =html_head(:title => 'BusBingo - Legend')

  %body#legend

    #right-sidebar
      #menu= @menu.render(:how_to_play, :about, :privacy, :play)
      #follow= @follow

    #page-header
      %img#girl(src="/views/images/girl-with-bingo.jpg")
      %h1 Legend

    #content
      - @tile_templates.each do |tt|
        %ul
          %li
            %img{:src => "/views/images/#{tt.image_filename}", :alt => tt.name}
            %span.desc= tt.desc

    =@facebook_sdk
