!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  %head
    %title BusBingo
    :plain
      <script type="text/javascript">
        var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
        document.write(unescape("%3Cscript src='" + rpxJsHost +
            "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        RPXNOW.overlay = true;
        RPXNOW.language_preference = 'en';
      </script>

    %link(rel = "Stylesheet" href = "/views/style.css" type = "text/style")

  %body#login
    #sign-in
      :plain
        <a class="rpxnow" onclick="return false;"
          href="https://busbingo.rpxnow.com/openid/v2/signin?token_url=#{@token_url}"> Sign In </a> to play BusBingo!

    #photo
      %img{:src => "/views/images/girl-with-bingo.jpg"}

    %div#copyright= @copyright
