!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  %head
    %title Bus Bingo - Privacy
    %link(rel = "Stylesheet" href = "/views/style.css" type = "text/style")

  %body#privacy
    #menu
      %ul
        %li
          %a(href='/about' title="About Bus Bingo") About
        %li
          %a(href='/play' title="Play Bus Bingo!") Play

    #page-header
      %img#girl(src="/views/images/girl-with-bingo.jpg")
      %h1 Privacy
    #content
    :markdown
      Bus Bingo collects only players' e-mail addresses and their game responses.  E-mail addresses will not be published or shared.
