!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  %head= html_head(:title => 'BusBingo - Privacy')

  %body#privacy
    #menu
      %ul
        %li
          %a(href='/about' title="About BusBingo") About
        %li
          %a(href='/play' title="Play BusBingo!") Play

    #page-header
      %img#girl(src="/views/images/girl-with-bingo.jpg")
      %h1 Privacy
    #content
    :markdown
      BusBingo collects only players' e-mail addresses and their game responses.  E-mail addresses will not be published or shared.
