!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  %head
    %title BusBingo - Sign In
    %script(type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js" )
    :javascript
      if (typeof window.janrain !== 'object') window.janrain = {};

      window.janrain.settings = {};
      janrain.settings.tokenUrl = '#{@token_url}'

    %script{ :type => "text/javascript", :src => "views/rpx.js"}

  %body#login
    #right-sidebar
      #menu= @menu.render(:privacy, :credits)

    #content
      #photo
        %img(src= "/views/images/girl-with-bingo.jpg")

      %div#janrainEngageEmbed

    %div#copyright= @copyright
