!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  =html_head(:title => 'BusBingo - Admin: Winners')

  %body#winners

    #page-header
      %img#girl(src="/views/images/girl-with-bingo.jpg")
      %h1 Admin: Winners

    #content
      #list-header.row
        %span.email E-mail
        %span.gopass Go!pass

      #list
        .row
          - @winners.each do |p|
            %span.email= p.email
            %span.gopass= p.gopass

    #copyright= @copyright
