<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA -->

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>Bus Bingo</title>
    <script type="text/javascript" src="/views/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/views/script.js"></script>
    <link rel="stylesheet" href="/views/style.css" type="text/css" media="all" />
  </head>
  <body>
    <h1>Transit Bingo (Mockup)</h1>
    <div id="bingo-card">
      <div class="cell picture row0 col0"><a href="#"><img src="/views/images/bike.gif" title="Saw someone put a bike on the bus.." alt="bicyle" /></a></div>
      <div class="cell checkmark row0 col0"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row0 col1"><a href="#"><img src="/views/images/book.gif" title="I read a book." alt="books" /></a></div>
      <div class="cell checkmark row0 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row0 col2"><a href="#"><img src="/views/images/busdriver.gif" title="I spoke with the bus driver." alt="man with text bubble" /></a></div>
      <div class="cell checkmark row0 col2"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row0 col3"><a href="#"><img src="/views/images/conversation.gif" title="I had a conversation." alt="two businessmen" /></a></div>
      <div class="cell checkmark row0 col3"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row0 col4"><a href="#"><img src="/views/images/drink.gif" title="I went to a bar." alt="cocktail glass" /></a></div>
      <div class="cell checkmark row0 col4"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row1 col0"><a href="#"><img src="/views/images/email.gif" title="I used e-mail." alt="envelope" /></a></div>
      <div class="cell checkmark row1 col0"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row1 col1"><a href="#"><img src="/views/images/go-pass-0910_front.jpg" title="I used my getDowntown&reg; transit pass." alt="transit pass" /></a></div>
      <div class="cell checkmark row1 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row1 col2"><a href="#"><img src="/views/images/home.gif" title="I went home." alt="home" /></a></div>
      <div class="cell checkmark row1 col2"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row1 col3"><a href="#"><img src="/views/images/Music.gif" title="I listened to music." alt="earphones" /></a></div>
      <div class="cell checkmark row1 col3"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row1 col4"><a href="#"><img src="/views/images/nap.gif" title="I took a nap." alt="bed" /></a></div>
      <div class="cell checkmark row1 col4"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row2 col0"><a href="#"><img src="/views/images/phone.gif" title="I talked on the phone." alt="cell phone" /></a></div>
      <div class="cell checkmark row2 col0"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row2 col1"><a href="#"><img src="/views/images/shopping.gif" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell checkmark row2 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row2 col2"><a href="#"><img src="/views/images/work.gif" title="I went to work." alt="briefcase" /></a></div>
      <div class="cell checkmark row2 col2"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row2 col3"><a href="#"><img src="/views/images/conversation.gif" title="I had a conversation." alt="two businessmen" /></a></div>
      <div class="cell checkmark row2 col3"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row2 col4"><a href="#"><img src="/views/images/drink.gif" title="I went to a bar." alt="cocktail glass" /></a></div>
      <div class="cell checkmark row2 col4"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row3 col0"><a href="#"><img src="/views/images/email.gif" title="I used e-mail." alt="envelope" /></a></div>
      <div class="cell checkmark row3 col0"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row3 col1"><a href="#"><img src="/views/images/Music.gif" title="I listened to music." alt="earphones" /></a></div>
      <div class="cell checkmark row3 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row3 col2"><a href="#"><img src="/views/images/bike.gif" title="Saw someone put a bike on the bus.." alt="bicyle" /></a></div>
      <div class="cell checkmark row3 col2"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row3 col3"><a href="#"><img src="/views/images/nap.gif" title="I took a nap." alt="bed" /></a></div>
      <div class="cell checkmark row3 col3"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row3 col4"><a href="#"><img src="/views/images/go-pass-0910_front.jpg" title="I used my getDowntown&reg; transit pass." alt="transit pass" /></a></div>
      <div class="cell checkmark row3 col4"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row4 col0"><a href="#"><img src="/views/images/book.gif" title="I read a book." alt="books" /></a></div>
      <div class="cell checkmark row4 col0"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row4 col1"><a href="#"><img src="/views/images/home.gif" title="I went home." alt="home" /></a></div>
      <div class="cell checkmark row4 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row4 col2"><a href="#"><img src="/views/images/work.gif" title="I went to work." alt="briefcase" /></a></div>
      <div class="cell checkmark row4 col1"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row4 col3"><a href="#"><img src="/views/images/phone.gif" title="I talked on the phone." alt="cell phone" /></a></div>
      <div class="cell checkmark row4 col3"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell picture row4 col4"><a href="#"><img src="/views/images/shopping.gif" title="I went shopping." alt="shopping basket" /></a></div>
      <div class="cell checkmark row4 col4"><a href="#"><img src="/views/images/checkmark.png" title="I went shopping." alt="shopping basket" /></a></div>
    </div>
  </body>
</html>
